<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to the Learning Notes System!</h1>
    <h2>
      This platform is designed to help you manage your study notes, youcan:
    </h2>

    <ul>
      <li>Create and Manage Notes</li>
      <li>Edit and Delete Notes</li>
      <li>Search Notes</li>
      <li>ADD location message when create new note</li>
    </ul>

    <h2>How to Get Started?</h2>
    <p>
      To get started, simply <a href="/users/register">register</a> for an
      account or <a href="/users/login">log in</a> if you already have one.
    </p>

    <a href="/">Back to Home page</a>
  </body>
</html>
