<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/about.css" />
  </head>
  <body>
    <h1>Welcome to the Learning Notes System!</h1>
    <h2>This platform is designed to help manage notes, you can:</h2>

    <p>Create Notes, including text and voice input</p>
    <p>Add note locations</p>
    <p>Edit and Delete Notes</p>
    <p>Search Notes</p>
    <p>Add location message when create new note</p>
    <p>Check the weather</p>

    <h2>How to Get Started?</h2>
    <p>
      To get started, simply <a href="/users/register">register</a> for an
      account or <a href="/users/login">log in</a> if you already have one.
    </p>

    <a href="/">Back to Home page</a>
  </body>
</html>
