<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About Learning Notes System</h1>
    <p>This is about page!!</p>

    <a href="/">Back to Home page</a>
  </body>
</html>
